:root {
    --theme: magenta
}

@mixin force-layout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

body {
    background: navy;
}

.board {
	position: fixed;
    inset: 0;
    margin: auto;

    width: 480px;
    height: 480px;

    border: 4px solid var(--theme);
    border-radius: 15px;
    box-shadow: inset 0 0 20px var(--theme) , 0 0 20px var(--theme);
    color: white;

    font-size: 30px;

    .eq-list {
        color: var(--theme);
        text-shadow: 0 0 4px var(--theme);

        & > div {
            @include force-layout();
        }
    }

    .exiting-equation {
        @include force-layout();
    }

    input {
        background: black;
        color: var(--theme);
        font-size: 30px;

        border: 1px solid var(--theme);
        text-align: center;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 200px;
    }

    // reflection
    &::before {
        pointer-events: none;
        content: "";

        position: absolute;
        background: var(--theme);
        top: 65%;
        left: 0;
        width: 100%;
        height: 100%;

        transform: perspective(100px) rotateX(40deg) scale(1, 0.35);
        filter: blur(100px);
        opacity: 0.5;
    }
}