body {
    background: navy;
}

.board {
	position: fixed;
    inset: 0;
    margin: auto;

    width: 480px;
    height: 480px;

    border: 4px solid magenta;
    border-radius: 15px;
    box-shadow: inset 0 0 20px magenta , 0 0 20px magenta;
    color: white;

    font-size: 30px;

    .eq-list {
        color: magenta;
        text-shadow: 0 0 4px magenta;

        & > div {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: fit-content;
            height: fit-content;
        }
    }

    .exiting-equation {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: fit-content;
        height: fit-content;
    }

    input {
        background: black;
        color: magenta;
        font-size: 30px;

        border: 1px solid magenta;
        text-align: center;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 200px;
    }

    &::before {
        pointer-events: none;
        content: "";

        position: absolute;
        background: magenta;
        top: 65%;
        left: 0;
        width: 100%;
        height: 100%;

        transform: perspective(100px) rotateX(40deg) scale(1, 0.35);
        filter: blur(100px);
        opacity: 0.5;
    }
}